*{
    margin:0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(96, 96, 160);
    background-size:auto;
}
.section1{
    
    padding:140px 0px 130px 240px;
    
}
header img{
    height:800px;
    width:635px;
    padding:50px 97px 0px 240px;
}
header  .section1 h1{
    font-size: 50px;
    width:500px;
    padding-bottom:20px;
    color:rgb(77, 167, 155);
}
header .section1 p{
    color:rgb(255, 255, 255);
    font-size:medium;
    width:400px;
    padding-bottom:20px;
}
header .section1 button{
    height:45px;
    width:140px;
    background-color:aqua;
    border:none;
    border-radius:10px;
    font-size:medium;
    font-weight: 900;
}
.flowersection{
    padding:178px 240px 128px 240px;
}
.flowersection h2{
    text-align:center;
    font-size:25px;
}
.flowersection p{
    text-align:center;
    padding:20px 350px 40px 350px;
    font-size:medium;
    color:rgba(39, 39, 39, 0.60);
}
.flowersection >.flower-image{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.flowersection .flower-image figure{
    /* height:500px;
    width:350px;
    background-size: 538px 464px; */
    text-decoration: underline;
}
.flowersection .flower-image figure h5{
   text-align:center;
}
.flowersection .flower-image figure .yellow{
    background-color:aqua;
    border-radius:300px 300px 0px 0px;
    height:500px;
    width:400px;
    background-size:auto;
    padding: 20px 20px 0 20px;
}

.flowersection .flower-image figure .red{
    height:500px;
    width:400px; 
    background-color:blueviolet;
    border-radius:300px 300px 0px 0px;
    background-size:auto;
    padding: 20px 20px 0 20px;
    
}
.flowersection .flower-image figure .pink{
    height:500px;
    width:400px; 
    background-color:gold;
    border-radius:300px 300px 0px 0px;
    background-size:auto;
    padding: 20px 20px 0 20px;

}

.offer{
   display:flex;
   align-items:center;
   justify-content:space-between;
   background-color:rgb(151, 125, 175)
}
.offer .offer-description{
    text-align:center;
    padding-left:423px;
}
.offer .offer-description h3{
    font-size:40px;
    padding-bottom:15px;
}
.offer .offer-description h3 span{
    color:#ac1414
}
.offer .offer-description p{
    color:black;
    padding-bottom:15px;
}
.offer .offer-description button{
    height:44px;
    width:135px;
    border:none;
    border-radius:20px;
    font-size:medium;
    font-weight:bold;
    background-color:rgb(209, 13, 13);
    color:white;
}
.offer .offer-image{
    /* height: 100px;
    width:318px; */
    padding:100px 300px 100px 219px;
}
.instagram-photos {
   text-align:center;
}
.instagram-photos h3{
    padding-top:120px;
    font-size: 30px;
}
.instagram-photos p{
    padding-top:20px;
    color:rgba(39, 39, 39, 0.60);
    font-size:medium;
}
.instagram-photos .image-collection{
    display:flex;
    padding:48px 240px;
    gap:24px;
    height:400px;
    width:200px;
}
.deals{
    text-align:center;
    margin:128px 240px;
    background-image: url("Rectangle\ 9.png");
   
}
.deals h2{
    font-size:35px;
    padding:120px 0px 10px 0px;
}
.deals p{
    color:rgba(39, 39, 39, 0.60);
    font-size:medium;
    padding-bottom:35px;
}
.deals .input{
    padding:0px 0px 100px 0px;
    
}


.deals .email{
    height:45px;
    width:500px;
    border:none;
    background-color:white;
    padding-bottom:30px;  
}
.deals .email[placeholder="Enter your email here...."]{
    padding:10px 0px 10px 22px;
}

.deals .subscribe{
    height:65px;
    width:120px;
    border:none;
    border-radius:10px;
    background-color: #E55473;
    margin-left:16px;
}
.deals .subscribe[value="Subscribe"]{
    color:white;
    font-size:15px;
}
footer{
    text-align:center;
    background-color:rgb(0, 0, 0);
    height:400px;
    color:white;
}
footer h2{
    font-size:40px;
    padding-top:128px;
    color:rgb(221, 22, 204);
}
footer h2 span{
    color:#035d6d;
}
footer p{
    padding-top:10px;
    font-size:14px;;
}
footer h5{
    padding-top:25px;
    font-weight:200;
}
.our-plan{
    margin:120px 240px;
}

.our-plan .plan-container{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.our-plan h6{
    font-weight:400;
    font-size:15px;
    text-align:center;
    color:rgb(21, 163, 45);
}
.our-plan h1{
    font-size:40px;
    text-align:center;
    color:#E55473;
    padding:20px 0;
}
.our-plan .plan-container td ,th{
    border:1px solid rgba(201, 195, 195, 0.6);

}
.our-plan .plan-container table{
    border-collapse:collapse;
    height: 500px;
    width:350px;
    text-align:center;
}
.our-plan .plan-container table thead{
    background-color: rgb(46, 45, 45);
}
.our-plan .plan-container table thead th{
   text-align:center;
   font-size: 20px;
   color:white;
   padding:15px 0px;
   font-weight:600;
}
.our-plan .plan-container table tbody{
    text-align:center;
    
}
.our-plan .plan-container table tbody tr .price{
    font-size:25px;
    font-weight:bolder;
}
.our-plan .plan-container table tbody tr .price span{
    font-size:15px;
    font-weight:300;
    color:rgb(10, 145, 71);
    font-weight:500;
    
}
.our-plan .plan-container table tbody tr td{
    font-size:15px;
    font-weight:300;
}
.our-plan .plan-container table tfoot{
    height:120px;
}
.our-plan .plan-container table tfoot td button{
    /* display:flex;
    align-items:center;
    justify-content:center; */
   text-align:center;
   width:150px;
   height:50px;
   border:none;
   font-weight:800;
   font-size:15px;
   background-color: rgb(21, 143, 27);
   color:white;
   border-radius:10px;
}